{
  type: 'object'
  title: 'disableXpnResource: Disable a serivce resource associated with this host project.- need body'
  'x-group-name': 'Projects'
  required: ['data']
  properties:
    data:
      type: 'object'
      properties:
        projectname:
          type: 'string'
          title: 'Project Name'
          description: 'Google Cloud Platform Project Name'
}
