{
  type: 'object'
  title: 'insert - Creates an instance resource in the specified project using the data included in the request - fix job.coffee'
  'x-group-name': 'Instances'
  required: ['data']
  properties:
    data:
      type: 'object'
      properties:
        projectname:
          type: 'string'
          title: 'Project Name'
          description: 'Google Cloud Platform Project Name'
        zonename:
          type: 'string'
          title: 'Zone Name'
          description: 'Google Cloud Platform Zone Name'

}
