{
  type: 'object'
  title: 'getXpnHost: Get the shared VPC host project that this project links to. May be empty if no link exists - fix job.coffee'
  'x-group-name': 'Projects'
  required: ['data']
  properties:
    data:
      type: 'object'
      properties:
        projectname:
          type: 'string'
          title: 'Project Name'
          description: 'Google Cloud Platform Project Name'
}
