{
  type: 'object'
  title: 'listXpnHosts: List all shared VPC host projects visible to the user in an organization.- fix job.coffee'
  'x-group-name': 'Projects'
  required: ['data']
  properties:
    data:
      type: 'object'
      properties:
        projectname:
          type: 'string'
          title: 'Project Name'
          description: 'Google Cloud Platform Project Name'
}
