{
  type: 'object'
  title: 'addAccessConfig - Adds an access config to an instances network interface - fix job.coffee'
  'x-group-name': 'Instances'
  required: ['data']
  properties:
    data:
      type: 'object'
      properties:
        projectname:
          type: 'string'
          title: 'Project Name'
          description: 'Google Cloud Platform Project Name'
        zonename:
          type: 'string'
          title: 'Zone Name'
          description: 'Google Cloud Platform Zone Name'
        instancename:
          type: 'string'
          title: 'Instance Name'
          description: 'Google Cloud Platform Instance Name'

}
