{
  type: 'object'
  title: 'message_cson_title'
  'x-group-name': 'New Group'
  required: ['data']
  properties:
    data:
      type: 'object'
      required: ['username']
      properties:
        username:
          type: 'string'
          title: 'Username'
          description: 'job new description'  
}
