{
  type: 'object'
  title: 'enableXpnHost: Enable this project as a shared VPC host project - fix job.coffee'
  'x-group-name': 'Projects'
  required: ['data']
  properties:
    data:
      type: 'object'
      properties:
        projectname:
          type: 'string'
          title: 'Project Name'
          description: 'Google Cloud Platform Project Name'
}
